.gameBox {
  border-style: solid;
  width: 315px;
  padding-left: 5px;
  padding-bottom: 5px;
  background-color: rgb(181, 192, 212);
}


.title {
  text-align: center;
}

.playSquare:hover {
  cursor: pointer;
}

.firstbutton:hover {
  cursor: pointer;
}

.gameTable {
  background-color:white;
  /* width: 200px; */
  margin-left: 100px;
  margin-right: 105px;
}


#windowStatus {
  text-align: center;
}
